body{
    margin: 100px auto;
    width:50%;
}
.dropcap{
    line-height: 1.5;
}
/*.dropcap .dropcap__first-child{
    float:left;
    margin-right: 10px;
    color: red;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
}*/
.dropcap::first-letter{
    float:left;
    margin-right: 10px;
    font-size: 40px;
    font-weight: 900;
    line-height: 1px;
    text-transform: uppercase;
    color: #efb5c8;
}